{%extends "TahrirBlogBundle:Default:index.html.twig"%}
{%block container %}
<div class="container" >

    <form id="form" class="well" method="POST" action="{{path('tahrir_blog_editpost',{ 'id': id  })}}" data-validate="parsley">
		{% if message is defined%}
		<div class="alert-info fade in">
			<strong>{{message}}</strong>
		</div>
		{%endif%}
		<h2>Edit Post</h2>
        <label>Post Title</label>
        <input type="text" id="title" name="title" value="{{title}}" class="input-xlarge" data-trigger="change" data-required="true">
        <input type="hidden" id="id" name="id" value="{{id}}">
       
        <label>Content</label>
        <textarea name="content" class="input-xlarge" data-trigger="change" data-required="true">{{content}}</textarea>
       
		<label>Tags</label>
        <input type="text" id="tags" value="{{tags}}" name="tags" class="input-xlarge" data-trigger="change" data-required="true">(sperate them by ',')
        </br>
        </br>
		<div>
			<a class="btn btn-primary" href='{{path('tahrir_blog_homepage')}}' >Home</a>
            <button class="btn btn-primary pull-right" type="submit" >Save</button>
        </div>

    </form>
</div>
 {%endblock%}