{%extends "TahrirBlogBundle:Default:index.html.twig"%}
{%block stylesheets %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
{%endblock%}
   {%block container %}
    <div class="container">
		<div class="span8 form-signin" style="max-width: 550px;" id="body">
			<h2 class="form-signin-heading">Tahrir blog posts</h2>
			{% for post in posts %}
                <h3><a href="{{path('tahrir_blog_viewpost',{ 'id': post.id  } )}}">{{ post.title }}</a></h3>
				<h6 style="color:gray">{{ post.creationDate|date('Y-m-d H:i:s') }}</h6>
				<br>
				<div  style="min-height:130px" width="150">
				<p>
				{% if post.imageURL is defined%}
					<img src= {{ asset(post.imageURL) }} class="pull-left" alt={{ post.title }} style="margin-right:10px; width:120px; height:120px ">
				{%endif%}
				{{ post.content }}
				</p>
				</div>
				<h6 style="color:gray"><i>tags: {{ post.tags }}</i></h6>
				<hr>
            {% endfor %}

		</div>
		<div class="span4 pull-right">
		{% if logged %}
			<div class="form-signin" id="form-signin" style='display:none;' data-validate="parsley">
		{% else %}
			<div class="form-signin" id="form-signin" data-validate="parsley">
		{% endif %}		
				<h2 class="form-signin-heading">Please sign in</h2>
				<div id="bad_status"  style="display:none;" class="alert alert-danger"></div>
				<input type="text" id="username" class="input-block-level" name="username" placeholder="Username" data-trigger="change" data-required="true">
				<input type="password" id="password" class="input-block-level" name="password" placeholder="Password" data-trigger="change" data-required="true">
				<br>

				<a href="{{path('tahrir_blog_signup')}}" class="pull-right">Sign Up</a>
				<br>
				<button onclick="loginPressed('{{path('tahrir_blog_homepage')}}','{{path('tahrir_blog_logout')}}','{{path('tahrir_blog_newpost')}}','{{path('tahrir_blog_myposts')}}','{{path('tahrir_blog_deletepost')}}','{{path('tahrir_blog_editpost',{ 'id': 0  })}}')" 
				class="btn btn-large btn-primary" type="submit" id="login">Sign in</button>

			</div>
			{% if logged %}
				<div class="form-signin" id="result">
			{% else %}
				<div class="form-signin" id="result" style="display:none;">
			{% endif %}		
					<div id="good_status"  style="display:none;" class="alert alert-success"></div>
					<div id="output">
						<h3>Account</h3><hr>
						<a href= "{{path('tahrir_blog_newpost')}}">Create New Post</a>
						</br><a href=javascript:onclick=myPostsPressed("{{path('tahrir_blog_myposts')}}","{{path('tahrir_blog_deletepost')}}","{{path('tahrir_blog_editpost' ,{ 'id': 0 } )}}")>My Posts</a>
						</br><a href=javascript:onclick=logoutPressed("{{path('tahrir_blog_logout')}}")>Logout</a>
					</div>
				</div>
		</div>

    
    </div> 
	{%endblock%}